<!DOCTYPE html>
<html>
<head>
	<title>Đăng ký thành viên</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<header>
		<div class="banner">
			<div class="container">
				<div class="row">
					<div class="col-md-2 logo">
						<img src="images/logo.jpg">
					</div>
					<div class="col-md-10">
						<div class="banner">
							<embed width="100%" height="100%" class="img-responsive" src="images/ads/bn2.swf">
						</div>
					</div>
				</div>
			</div>
		</div><!-- end banner -->
		<div class="header-link">
			<div class="container">
				<div class="row">
					<div class="pull-left">
						<form>
							<ul class="main-search">							
								<li>
									<input placeholder="Nhập từ khóa cần tìm kiếm..." type="text" class="form-control" name="keyword">
								</li>
								<li>
									<select class="form-control"	>
										<option value="">Nhà bán</option>
										<option value="">Nhà cho thuê</option>
										<option value="">Cần mua nhà</option>
										<option value="">Cần thuê nhà</option>
									</select>
								</li>
								<li>
									<button type="button" class="btn btn-primary">Tìm kiếm</button>		
								</li>					
							</ul>
						</form>
					</div>
					<div class="pull-right">
						<ul class="top-link">
							<li><a href=""><img src="images/icons/google_search.jpg"></a></li>
							<li><a href=""><img src="images/icons/facebook.jpg"></a></li>
							<li><a href=""><img src="images/icons/google_plus.jpg"></a></li>
							<li><a href=""><img src="images/icons/raonha.jpg"></a></li>
							<li><a href=""><img src="images/icons/dangki.jpg"></a></li>
							<li><a href=""><img src="images/icons/dangnhap.jpg"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="main-nav">		
				<ul class="nav nav-pills">
				   <li class="active">
				   		<a href="#">Trang chủ</a>
				   </li>
				   <li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nhà bán</span></a>
				      <ul class="dropdown-menu">
				         <li><a href="#">Bán nhà riêng</a></li>
				         <li><a href="#">Bán biệt thự</a></li>
				         <li><a href="#">Bán nhà mặt phố</a></li>
				         <li><a href="#">Bán căn hộ chung cư</a></li>
				      </ul>
				   </li>
				   <li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nhà cho thuê</span></a>
				      <ul class="dropdown-menu">
				         <li><a href="#">Cho thuê nhà riêng</a></li>
				         <li><a href="#">Cho thuê biệt thự</a></li>
				         <li><a href="#">Cho thuê nhà mặt phố</a></li>
				         <li><a href="#">Cho thuê căn hộ chung cư</a></li>
				      </ul>
				   </li>
				   <li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cần thuê nhà</span></a>
				      <ul class="dropdown-menu">
				         <li><a href="#">Cần thuê nhà riêng</a></li>
				         <li><a href="#">Cần thuê biệt thự</a></li>
				         <li><a href="#">Cần thuê nhà mặt phố</a></li>
				         <li><a href="#">Cần thuê căn hộ chung cư</a></li>
				      </ul>
				   </li>
				   <li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cần mua nhà</span></a>
				      <ul class="dropdown-menu">
				         <li><a href="#">Cần mua nhà riêng</a></li>
				         <li><a href="#">Cần mua biệt thự</a></li>
				         <li><a href="#">Cần mua nhà mặt phố</a></li>
				         <li><a href="#">Cần mua căn hộ chung cư</a></li>
				      </ul>
				   </li>
				   <li>
				   		<a href="#">Dự án</a>
				   </li>
				   <li>
				   		<a href="#">Tin tức</a>
				   </li>
				</ul>			
			</div><!-- end #container -->
		</div>
	</header><!--end header -->
	<section>
		<div class="container">
		    <div class="row">
		        <div class="frm-register col-xs-12 col-sm-12 col-md-4 well well-sm col-md-offset-4">
		            <legend><a href="http://hocwebgiare.com"><i class="glyphicon glyphicon-user"></i></a>&nbsp;Đăng ký thành viên!</legend>
		            <form action="http://hocwebgiare.com" method="post" class="form" role="form">
		                <input class=" form-control" name="username" placeholder="Họ tên" type="text" />
		                <input class=" form-control" name="youremail" placeholder="Email" type="email" />
		                <input class=" form-control" name="password" placeholder="Mật khẩu" type="password" />
		                <input class=" form-control" name="retypepassword" placeholder="Nhập lại mật khẩu" type="password" />
		                <input class=" form-control" name="fullname" placeholder="Nhập họ tên" type="text" />
		                <label>Giới tính</label>
                        <select name="gender" id="gender" class="  form-control">
                            <option value="">Tôi là ...</option>
                            <option value="Nam">Nam</option>
                            <option value="Nữ">Nữ</option>
                            <option value="Khác">Khác</option>           
                        </select>
		                
	                    <label style="display: block;">Ngày sinh</label>
                        <select style="width: 100px; display: inline; margin-right: 7px" name="day" id="day" class="form-control">
                            <option value="">Ngày</option>
                            <?php 
                                $days = range(1, 31);
                                foreach ($days as $day) {
                            ?>
                            <option value="{{$day}}">{{$day}}</option>   
                            <?php } ?>      
                        </select>
                        <select style="width: 100px; display: inline; margin-right: 7px" name="month" id="month" class="form-control">
                            <option value="">Tháng</option>
                            <?php 
                                $months = range(1, 12);
                                foreach ($months as $month) {
                            ?>
                            <option value="{{$month}}">{{$month}}</option>   
                            <?php } ?>            
                        </select>
                        <select style="width: 100px; display: inline; " name="year" id="year" class="form-control">
                            <option value="">Năm</option>
                            <?php 
                                $years = range(1905, 2016);
                                foreach ($years as $year) {
                            ?>
                            <option value="{{$year}}">{{$year}}</option>   
                            <?php } ?>            
                        </select>
		               

		               	<label style="display: block;">Địa chỉ</label>
		               	<select name="city" id="city" class="form-control">
                            <option disabled selected value="">Chọn tỉnh/thành phố</option>
                            @foreach($cities as $city)
                                <option value="{{$city->id}}">{{$city->name}}</option>
                            @endforeach
                        </select>
                        <select name="district" id="district" class="form-control">
                            <option value="">Chọn quận/huyện</option>              
                        </select>
                        <select name="ward" id="ward" class="form-control">
                            <option value="">Chọn xã/phường</option>              
                        </select>

                 
                        <input type="text" class="form-control" name="address" placeholder="Nhập khu vực sinh sống" />

                    
                        <input type="text" class="form-control" name="landline" placeholder="Nhập điện thoại cố định" />

                   
                        <input type="text" class="form-control" name="cellphone" placeholder="Nhập điện thoại di động" />

                      
                        <input type="text" class="form-control" name="facebook" placeholder="Nhập địa chỉ facebook" />

                 
                        <input type="text" class="form-control" name="skype" placeholder="Nhập tên skype" />

		                
		                <br />
		                <button class="btn btn-lg btn-primary btn-block" type="submit"> Đăng ký</button>
		            </form>
		        </div>
		    </div>
		</div>	
	</section><!--end section-->
	<section>
		<div class="container">
			<div class="footer">
				<p class="text-center">
					Copyright © 2016 Nhadat.vn. ® Ghi rõ nguồn "Nhadat.vn" khi phát hành lại thông tin từ website này.<br/>
					Giấy chứng nhận ĐKKD số 0106699324 do Sở Kế hoạch & Đầu tư TP.Hà Nội cấp
					Địa chỉ: Số 185, phố Bế Văn Đàn, Quận Hà Đông, Hà Nội<br/>
					Copyright © 2016 Nhadat.vn. ® Ghi rõ nguồn "Nhadat.vn" khi phát hành lại thông tin từ website này.<br/>
					Giấy chứng nhận ĐKKD số 0106699324 do Sở Kế hoạch & Đầu tư TP.Hà Nội cấp
					Địa chỉ: Số 185, phố Bế Văn Đàn, Quận Hà Đông, Hà Nội<br/>
				</p>
			</div>
		</div>
	</section><!--end section-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>