<!DOCTYPE html>
<html>
<head>
	<title>Đăng tin rao</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<div class="wrapper">
	<header>
		<div class="banner">
			<div class="container">
				<div class="row">
					<div class="col-md-2 logo">
						<img src="images/logo.jpg">
					</div>
					<div class="col-md-10">
						<div class="banner">
							<embed width="100%" height="100%" class="img-responsive" src="images/ads/bn2.swf">
						</div>
					</div>
				</div>
			</div>
		</div><!-- end banner -->
		<div class="header-link">
			<div class="container">
				<div class="row">
					<div class="pull-left">
						<form>
							<ul class="main-search">							
								<li>
									<input placeholder="Nhập từ khóa cần tìm kiếm..." type="text" class="form-control" name="keyword">
								</li>
								<li>
									<select class="form-control"	>
										<option value="">Nhà bán</option>
										<option value="">Nhà cho thuê</option>
										<option value="">Cần mua nhà</option>
										<option value="">Cần thuê nhà</option>
									</select>
								</li>
								<li>
									<button type="button" class="btn btn-primary">Tìm kiếm</button>		
								</li>					
							</ul>
						</form>
					</div>
					<div class="pull-right">
						<ul class="top-link">
							<li><a href=""><img src="images/icons/google_search.jpg"></a></li>
							<li><a href=""><img src="images/icons/facebook.jpg"></a></li>
							<li><a href=""><img src="images/icons/google_plus.jpg"></a></li>
							<li><a href=""><img src="images/icons/raonha.jpg"></a></li>
							<li><a href=""><img src="images/icons/dangki.jpg"></a></li>
							<li><a href=""><img src="images/icons/dangnhap.jpg"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="main-nav">		
				<ul class="nav nav-pills">
				   <li class="active">
				   		<a href="#">Trang chủ</a>
				   </li>
				   <li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nhà bán</span></a>
				      <ul class="dropdown-menu">
				         <li><a href="#">Bán nhà riêng</a></li>
				         <li><a href="#">Bán biệt thự</a></li>
				         <li><a href="#">Bán nhà mặt phố</a></li>
				         <li><a href="#">Bán căn hộ chung cư</a></li>
				      </ul>
				   </li>
				   <li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nhà cho thuê</span></a>
				      <ul class="dropdown-menu">
				         <li><a href="#">Cho thuê nhà riêng</a></li>
				         <li><a href="#">Cho thuê biệt thự</a></li>
				         <li><a href="#">Cho thuê nhà mặt phố</a></li>
				         <li><a href="#">Cho thuê căn hộ chung cư</a></li>
				      </ul>
				   </li>
				   <li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cần thuê nhà</span></a>
				      <ul class="dropdown-menu">
				         <li><a href="#">Cần thuê nhà riêng</a></li>
				         <li><a href="#">Cần thuê biệt thự</a></li>
				         <li><a href="#">Cần thuê nhà mặt phố</a></li>
				         <li><a href="#">Cần thuê căn hộ chung cư</a></li>
				      </ul>
				   </li>
				   <li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cần mua nhà</span></a>
				      <ul class="dropdown-menu">
				         <li><a href="#">Cần mua nhà riêng</a></li>
				         <li><a href="#">Cần mua biệt thự</a></li>
				         <li><a href="#">Cần mua nhà mặt phố</a></li>
				         <li><a href="#">Cần mua căn hộ chung cư</a></li>
				      </ul>
				   </li>
				   <li>
				   		<a href="#">Dự án</a>
				   </li>
				   <li>
				   		<a href="#">Tin tức</a>
				   </li>
				</ul>			
			</div><!-- end #container -->
		</div>
	</header><!--end header -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="left-bar">
						<div class="detail-search">			
							<form action="" method="">
								<div class="row">
									<img class="img-responsive" alt="" src="images/detail-search.jpg" />
								</div>
								<div class="row">
									<select class="form-control">
										<option value="">--Chọn thể loại nhà--</option>
									</select>
								</div>
								<div class="row">
									<select class="form-control">
										<option value="">--Chọn loại nhà--</option>
									</select>
								</div>
								<div class="row">
									<select class="form-control">
										<option value="">--Chọn tỉnh/thành phố--</option>
									</select>
								</div>
								<div class="row">
									<select class="form-control">
										<option value="">--Chọn quận/huyện--</option>
									</select>
								</div>
								<div class="row">
									<select class="form-control">
										<option value="">--Chọn xã/phường--</option>
									</select>
								</div>
								<div class="row">
									<select class="form-control">
										<option value="">--Chọn đường phố--</option>
									</select>
								</div>
								<div class="advanced-search" id="advacedSearch">
									<div class="row">
										<div class="col-md-5">
											<select  class="min-price form-control">
												<option value="">Giá thấp nhất</option>
											</select>
										</div>
										<div class="col-md-5 col-md-offset-2">
											<select class="max-price form-control">
												<option value="">Giá cao nhất</option>
											</select>
										</div>
									</div>
									<div class="row">
										<select class="form-control">
											<option value="">--Chọn hướng nhà--</option>
										</select>
									</div>
									<div class="row">
										<select class="form-control">
											<option value="">--Chọn số phòng ngủ--</option>
										</select>
									</div>
									<div class="row">
										<select class="form-control">
											<option value="">--Chọn số toilet--</option>
										</select>
									</div>
									<div class="row">
										<select class="form-control">
											<option value="">--Chọn dự án--</option>
										</select>
									</div>

								</div>
								<div class="row">
									<a id="advancedSearchButton" class="pull-left" href="#"><strong>Tìm kiếm nâng cao &darr;</strong></a>
									<button type="button" class="pull-right search-button">Tìm kiếm</button>		
								</div>
							</form>
						</div>
						<div class="cities">
							<div class="row">
								<img class="img-responsive" src="images/diadiem.jpg"/>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
						</div>
					</div><!-- end left-bar -->
				</div>
				<div class="col-md-7">
					<div class="content">
						<div class="form-group">
							<div class="page-content">
								<h2>Đăng tin rao</h2>
							</div>				
						</div>
						<form role="form">
						<div class="dang-tin">
							<div class="form-group">
							    <label for="exampleInputEmail1">Tiêu đề</label>
							    <input type="text" class="form-control" id="title" placeholder="Nhập nội dung">
							</div>
							<div class="form-group">
								<div class="col-md-5">
									<label>Hình thức nhà</label>
									<select class="form-control">
										<option value="">--Chọn hình thức nhà--</option>
									</select>
								</div>
							   	<div class="col-md-5 col-md-offset-2">
									<label>Loại nhà</label>
									<select class="form-control">
										<option value="">--Chọn loại nhà--</option>
									</select>
								</div>
							    
							</div>
							
							<div class="form-group">
							    <label for="exampleInputEmail1">Nội dung</label>
							   	<textarea name="content" id="content" class="ckeditor"></textarea>
							</div>
							<div class="form-group">
							    <label >Chọn hình ảnh</label>
							    <input type="file" />
							</div>
							<div class="form-group">
								<div class="col-md-5">
									<label>Tỉnh/thành phố</label>
									<select class="form-control">
										<option value="">--Chọn tỉnh/thành phố--</option>
									</select>
								</div>
							   	<div class="col-md-5 col-md-offset-2">
									<label>Quận/huyện</label>
									<select class="form-control">
										<option value="">--Chọn quận huyện--</option>
									</select>
								</div>	    
							</div>
							<div class="form-group">
								<div class="col-md-5">
									<label>Xã/phường</label>
									<select class="form-control">
										<option value="">--Chọn xã/phường--</option>
									</select>
								</div>
							   	<div class="col-md-5 col-md-offset-2">
									<label>Đường/phố</label>
									<select class="form-control">
										<option value="">--Chọn đường/phố--</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-5">
									<label>Dự án</label>
									<select class="form-control">
										<option value="">--Chọn dự án--</option>
									</select>
								</div>
							   	<div class="col-md-5 col-md-offset-2">
									<label>Diện tích (m<sup>2</sup>)</label>
									<input type="text" class="form-control" id="area" placeholder="Nhập diện tích" />
								</div>
							</div>
							<div class="form-group">
							    <label>Địa chỉ</label>
							    <input type="text" class="form-control" id="address" placeholder="Nhập địa chỉ">
							</div>
							<div class="form-group">
								<div class="col-md-5">
									<label>Hướng nhà</label>
									<select class="form-control">
										<option value="">--Chọn hướng nhà--</option>
									</select>
								</div>
							   	<div class="col-md-5 col-md-offset-2">
									<label>Mặt tiền (m<sup>2</sup>)</label>
									<input type="number" class="form-control" placeholder="Nhập độ rộng mặt tiền" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-5">
									<label>Đường vào</label>
									<input type="number" class="form-control" placeholder="Nhập độ rộng đường vào" />
								</div>
							   	<div class="col-md-5 col-md-offset-2">
									<label>Số tầng</label>
									<input type="number" class="form-control" placeholder="Nhập số tầng" />
								</div>
							</div>
							<div class="form-group">
								<div class="col-md-5">
									<label>Số phòng ngủ</label>
									<input type="number" class="form-control" placeholder="Nhập số phòng ngủ" />
								</div>
							   	<div class="col-md-5 col-md-offset-2">
									<label>Số toilet</label>
									<input type="number" class="form-control" placeholder="Nhập số toilet" />
								</div>
							</div>
							
							<div class="form-group">
								<div class="col-md-5">					
									<div class="col-md-3">
										<label>Giá tiền</label>
										<input type="number" class="form-control" placeholder="" />
									</div>
								   	<div class="col-md-7 col-md-offset-1">
										<label>Đơn vị tiền</label>
										<select class="form-control">
											<option value="">Thỏa thuận</option>
											<option value="">nghìn</option>
											<option value="">triệu</option>
											<option value="">tỉ</option>
										</select>
									</div>
								</div>
							   	<div class="col-md-5 col-md-offset-2">
									<label>Ngày hết hạn</label>
									<div class="form-group">
										<div class="col-md-3">
											<select style="padding: 0px" class="form-control">
												<option value="">Ngày</option>
											</select>
										</div>
										<div class="col-md-3">
											<select style="padding: 0px" class="form-control col-md-offset-2">
												<option value="">Tháng</option>
											</select>
										</div>
										<div class="col-md-4 col-md-offset-1">
											<select style="padding: 0px" class="form-control">
												<option value="">Năm</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label>Nội thất</label>
								<input class="form-control" type="" name=""/>
							</div>
							<div class="contactInfomation">
								<h3>Thông tin liên hệ</h3>
							</div>
							<div class="form-group">
								<div class="col-md-5">
									<label>Tên liên hệ</label>
									<input type="text" class="form-control" placeholder="Nhập tên liên hệ" />
								</div>
							   	<div class="col-md-5 col-md-offset-2">
									<label>Email</label>
									<input type="text" class="form-control" placeholder="Nhập địa chỉ email" />
								</div>
							</div>
							<div class="form-group">
								<label>Địa chỉ</label>
								<input placeholder="Nhập địa chỉ liên hệ" class="form-control" type="" name=""/>
							</div>
							<div class="form-group">
								<div class="col-md-5">
									<label>Điện thoại</label>
									<input type="text" class="form-control" placeholder="Nhập số điện thoại cố định" />
								</div>
							   	<div class="col-md-5 col-md-offset-2">
									<label>Điện thoại di động</label>
									<input type="text" class="form-control" placeholder="Nhập số điện thoại di động" />
								</div>
							</div>
							<button type="button" class="pull-right btn btn-primary">Đăng tin</button>		
						</div>
						</form>
					</div><!--end .content -->
				</div>
				<div class="col-md-2">
					<div class="ads">
						<div class="row">
							<img class="img-responsive" src="images/small-ads/2.jpg" />
						</div>
						<div class="row">
							<img class="img-responsive" src="images/small-ads/1.jpg" />
						</div>
					</div><!-- end ads -->
				</div>
			</div>
		</div>		
	</section><!--end section-->
	<section>
		<div class="container">
			<div class="footer">
				<p class="text-center">
					Copyright © 2016 Nhadat.vn. ® Ghi rõ nguồn "Nhadat.vn" khi phát hành lại thông tin từ website này.<br/>
					Giấy chứng nhận ĐKKD số 0106699324 do Sở Kế hoạch & Đầu tư TP.Hà Nội cấp
					Địa chỉ: Số 185, phố Bế Văn Đàn, Quận Hà Đông, Hà Nội<br/>
					Copyright © 2016 Nhadat.vn. ® Ghi rõ nguồn "Nhadat.vn" khi phát hành lại thông tin từ website này.<br/>
					Giấy chứng nhận ĐKKD số 0106699324 do Sở Kế hoạch & Đầu tư TP.Hà Nội cấp
					Địa chỉ: Số 185, phố Bế Văn Đàn, Quận Hà Đông, Hà Nội<br/>
				</p>
			</div>
		</div>
	</section><!--end section-->
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/ckeditor/ckeditor.js"></script>
</body>
</html>