<!DOCTYPE html>
<html>
<head>
	<title>Trang chủ</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
	<header>
		<div class="banner">
			<div class="container">
				<div class="row">
					<div class="col-md-2 logo">
						<img src="images/logo.jpg">
					</div>
					<div class="col-md-10">
						<div class="banner">
							<embed width="100%" height="100%" class="img-responsive" src="images/ads/bn2.swf">
						</div>
					</div>
				</div>
			</div>
		</div><!-- end banner -->
		<div class="header-link">
			<div class="container">
				<div class="row">
					<div class="pull-left">
						<form>
							<ul class="main-search">							
								<li>
									<input placeholder="Nhập từ khóa cần tìm kiếm..." type="text" class="form-control" name="keyword">
								</li>
								<li>
									<select class="form-control"	>
										<option value="">Nhà bán</option>
										<option value="">Nhà cho thuê</option>
										<option value="">Cần mua nhà</option>
										<option value="">Cần thuê nhà</option>
									</select>
								</li>
								<li>
									<button type="button" class="btn btn-primary">Tìm kiếm</button>		
								</li>					
							</ul>
						</form>
					</div>
					<div class="pull-right">
						<ul class="top-link">
							<li><a href=""><img src="images/icons/google_search.jpg"></a></li>
							<li><a href=""><img src="images/icons/facebook.jpg"></a></li>
							<li><a href=""><img src="images/icons/google_plus.jpg"></a></li>
							<li><a href=""><img src="images/icons/raonha.jpg"></a></li>
							<li><a href=""><img src="images/icons/dangki.jpg"></a></li>
							<li><a href=""><img src="images/icons/dangnhap.jpg"></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="main-nav">		
				<ul class="nav nav-pills">
				   <li class="active">
				   		<a href="#">Trang chủ</a>
				   </li>
				   <li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nhà bán &darr;</a>
				      <ul class="dropdown-menu">
				         <li><a href="#">Bán nhà riêng</a></li>
				         <li><a href="#">Bán biệt thự</a></li>
				         <li><a href="#">Bán nhà mặt phố</a></li>
				         <li><a href="#">Bán căn hộ chung cư</a></li>
				      </ul>
				   </li>
				   <li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nhà cho thuê &darr;</a>
				      <ul class="dropdown-menu">
				         <li><a href="#">Cho thuê nhà riêng</a></li>
				         <li><a href="#">Cho thuê biệt thự</a></li>
				         <li><a href="#">Cho thuê nhà mặt phố</a></li>
				         <li><a href="#">Cho thuê căn hộ chung cư</a></li>
				      </ul>
				   </li>
				   <li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cần thuê nhà &darr;</a>
				      <ul class="dropdown-menu">
				         <li><a href="#">Cần thuê nhà riêng</a></li>
				         <li><a href="#">Cần thuê biệt thự</a></li>
				         <li><a href="#">Cần thuê nhà mặt phố</a></li>
				         <li><a href="#">Cần thuê căn hộ chung cư</a></li>
				      </ul>
				   </li>
				   <li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cần mua nhà &darr;</a>
				      <ul class="dropdown-menu">
				         <li><a href="#">Cần mua nhà riêng</a></li>
				         <li><a href="#">Cần mua biệt thự</a></li>
				         <li><a href="#">Cần mua nhà mặt phố</a></li>
				         <li><a href="#">Cần mua căn hộ chung cư</a></li>
				      </ul>
				   </li>
				   <li>
				   		<a href="#">Dự án</a>
				   </li>
				   <li>
				   		<a href="#">Tin tức</a>
				   </li>
				   <li>
				   		<a href="#">Phong thủy</a>
				   </li>
				   <li>
				   		<a href="#">Xây dựng - Kiến trúc</a>
				   </li>
				   <li>
				   		<a href="#">Liên hệ</a>
				   </li>
				</ul>			
			</div><!-- end #container -->
		</div>
	</header><!--end header -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="left-bar">
						<div class="detail-search">			
							<form action="" method="">
								<div class="row">
									<img class="img-responsive" alt="" src="images/detail-search.jpg" />
								</div>
								<div class="row">
									<select class="form-control">
										<option value="">--Chọn thể loại nhà--</option>
									</select>
								</div>
								<div class="row">
									<select class="form-control">
										<option value="">--Chọn loại nhà--</option>
									</select>
								</div>
								<div class="row">
									<select class="form-control">
										<option value="">--Chọn tỉnh/thành phố--</option>
									</select>
								</div>
								<div class="row">
									<select class="form-control">
										<option value="">--Chọn quận/huyện--</option>
									</select>
								</div>
								<div class="row">
									<select class="form-control">
										<option value="">--Chọn xã/phường--</option>
									</select>
								</div>
								<div class="row">
									<select class="form-control">
										<option value="">--Chọn đường phố--</option>
									</select>
								</div>
								<div class="advanced-search" id="advacedSearch">
									<div class="row">
										<div class="col-md-5">
											<select  class="min-price form-control">
												<option value="">Giá thấp nhất</option>
											</select>
										</div>
										<div class="col-md-5 col-md-offset-2">
											<select class="max-price form-control">
												<option value="">Giá cao nhất</option>
											</select>
										</div>
									</div>
									<div class="row">
										<select class="form-control">
											<option value="">--Chọn hướng nhà--</option>
										</select>
									</div>
									<div class="row">
										<select class="form-control">
											<option value="">--Chọn số phòng ngủ--</option>
										</select>
									</div>
									<div class="row">
										<select class="form-control">
											<option value="">--Chọn số toilet--</option>
										</select>
									</div>
									<div class="row">
										<select class="form-control">
											<option value="">--Chọn dự án--</option>
										</select>
									</div>

								</div>
								<div class="row">
									<strong><a id="advancedSearchButton" class="pull-left" href="#">Tìm kiếm nâng cao &darr;</a></strong>
									<button type="button" class="pull-right search-button">Tìm kiếm</button>		
								</div>
							</form>
						</div>
						<div class="cities">
							<div class="row">
								<img class="img-responsive" src="images/diadiem.jpg"/>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
							<div class="city">
								<a href="#">
									Hồ Chí Minh
									<span class="pull-right">1000</span>
								</a>
							</div>
						</div>
					</div><!-- end left-bar -->
				</div>
				<div class="col-md-7">
					<div class="content"> 
						<div class="row">
							<div class="page-content">
								<h2>Tin rao mới nhất</h2>
							</div>				
						</div>
						<div class="row">
							<div class="title">
								<h3><a href="">Bán nhà ở Sài Gòn ở Quận 1 giá rẻ 1 tỷ</a></h3>
							</div>
							<div class="row">
								<div class="col-md-5">
									<a href=""><img class="img-house img-responsive" src="images/houses/1.jpg" /></a>
								</div>
								<div class="col-md-7">
									<div class="row">
										<p class="info">
											Bán nhà ở Sài GònBán nhà ở Sài GònBán nhà ở Sài Gòn Bán nhà ở Sài GònBán nhà ở Sài GònBán nhà ở Sài Gòn Bán nhà ở Sài GònBán nhà ở Sài GònBán nhà ở Sài Gòn Bán nhà ở Sài Gòn
										</p>
									</div>
									<div class="row">
										<div class="pull-left">Sài Gòn</div>
										<div class="pull-right">12 tỉ</div>
									</div>
								</div>
							</div>
						</div>
						<hr />
						<div class="row">
							<div class="title">
								<h3><a href="">Bán nhà ở Sài Gòn ở Quận 1 giá rẻ 1 tỷ</a></h3>
							</div>
							<div class="row">
								<div class="col-md-5">
									<a href=""><img class="img-house img-responsive" src="images/houses/1.jpg" /></a>
								</div>
								<div class="col-md-7">
									<div class="row">
										<p class="info">
											Bán nhà ở Sài GònBán nhà ở Sài GònBán nhà ở Sài Gòn Bán nhà ở Sài GònBán nhà ở Sài GònBán nhà ở Sài Gòn Bán nhà ở Sài GònBán nhà ở Sài GònBán nhà ở Sài Gòn Bán nhà ở Sài Gòn
										</p>
									</div>
									<div class="row">
										<div class="pull-left">Sài Gòn</div>
										<div class="pull-right">12 tỉ</div>
									</div>
								</div>
							</div>
						</div>
						<hr />
						<div class="row">
							<div class="title">
								<h3><a href="">Bán nhà ở Sài Gòn ở Quận 1 giá rẻ 1 tỷ</a></h3>
							</div>
							<div class="row">
								<div class="col-md-5">
									<a href=""><img class="img-house img-responsive" src="images/houses/1.jpg" /></a>
								</div>
								<div class="col-md-7">
									<div class="row">
										<p class="info">
											Bán nhà ở Sài GònBán nhà ở Sài GònBán nhà ở Sài Gòn Bán nhà ở Sài GònBán nhà ở Sài GònBán nhà ở Sài Gòn Bán nhà ở Sài GònBán nhà ở Sài GònBán nhà ở Sài Gòn Bán nhà ở Sài Gòn
										</p>
									</div>
									<div class="row">
										<div class="pull-left">Sài Gòn</div>
										<div class="pull-right">12 tỉ</div>
									</div>
								</div>
							</div>
						</div>
						<hr />	
						<div class="row">
							<div class="title">
								<h3><a href="">Bán nhà ở Sài Gòn ở Quận 1 giá rẻ 1 tỷ</a></h3>
							</div>
							<div class="row">
								<div class="col-md-5">
									<a href=""><img class="img-house img-responsive" src="images/houses/1.jpg" /></a>
								</div>
								<div class="col-md-7">
									<div class="row">
										<p class="info">
											Bán nhà ở Sài GònBán nhà ở Sài GònBán nhà ở Sài Gòn Bán nhà ở Sài GònBán nhà ở Sài GònBán nhà ở Sài Gòn Bán nhà ở Sài GònBán nhà ở Sài GònBán nhà ở Sài Gòn Bán nhà ở Sài Gòn
										</p>
									</div>
									<div class="row">
										<div class="pull-left">Sài Gòn</div>
										<div class="pull-right">12 tỉ</div>
									</div>
								</div>
							</div>
						</div>

						<nav aria-label="Page navigation">
						    <ul class="pagination">
						        <li>
						            <a href="#" aria-label="Previous">
						            <span aria-hidden="true">&laquo;</span>
						            </a>
						        </li>
						        <li><a href="#">1</a></li>
						        <li><a href="#">2</a></li>
						        <li><a href="#">3</a></li>
						        <li><a href="#">4</a></li>
						        <li><a href="#">5</a></li>
						        <li><a href="#">6</a></li>
						        <li><a href="#">7</a></li>
						        <li><a href="#">8</a></li>
						        <li><a href="#">9</a></li>
						        <li><a href="#">10</a></li>
						        <li>
						            <a href="#" aria-label="Next">
						            <span aria-hidden="true">&raquo;</span>
						            </a>
						        </li>
						    </ul>
						</nav><!-- end pagination -->
					</div><!--end .content -->
				</div>
				<div class="col-md-2">
					<div class="ads">
						<div class="row">
							<img class="img-responsive" src="images/small-ads/2.jpg" />
						</div>
						<div class="row">
							<img class="img-responsive" src="images/small-ads/1.jpg" />
						</div>
					</div><!-- end ads -->
				</div>
			</div>
		</div>		
	</section><!--end section-->
	<section>
		<div class="container">
			<div class="footer">
				<p class="text-center">
                   CÔNG TY TNHH DỊCH VỤ THƯƠNG MẠI VN SOFT
                </p>
                <p class="text-center">
                   27 Trần Nhân Tông, Phường Vĩnh Điện, Thị xã Điện Bàn, Tỉnh Quảng Nam.
                </p>
                <p  class ="text-center">
                   Địện thoại: 0510277876 | Email: contact@vnsoft.com.vn
                </p>
			</div>
		</div>
	</section><!--end section-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>